.action-button {
    text-align: center;
    min-height: 56px;
    background: #1E50FF;
    border-radius: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    cursor: pointer;
}