.logo {
    display: inline-flex;
    align-items: center;

    span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        color: #fff;
        margin-left: 10px;
    }
}