.ornaments {
    position: absolute;
    background: rgba(30, 80, 255, 0.5);
    filter: blur(700px);
}
.ornament-1 {
    width: 638px;
    height: 587.33px;
    left: 866px;
    top: 534px;
}

.ornament-2 {
    width: 638px;
    height: 587.33px;
    left: -418px;
    top: 2199px;
}

.ornament-3 {
    width: 638px;
    height: 587.33px;
    left: 905px;
    top: 4231px;
}